.Header {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom left, black, rgb(67, 59, 59));
    color: #fff;
    text-align: justify;
}

.h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: "";
    display: inline-block;
    width: 100%;
    flex-direction: row;
}
