html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App-body {
  background-image: linear-gradient(to left, black, rgb(67, 59, 59));
}

.reveal-wrapper {
  border: solid 1px white;
  position: relative;
}

.reveal-wrapper:hover .reveal-top {
  opacity: 0;
  left: -75%;
  transition: ease-in-out 1s;
}

.reveal-content {
  background: url(./assets/weather.avif);
  background-size: cover;
}

.reveal-top {
  background: url(./assets/weather.avif);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: top;
  top: 0;
  left: 0;
  transition: opacity 0.8s;
  opacity: 1;
}

.reveal-wrapper {
  padding: 0px;
  border: solid 1px white;
  position: relative;
}

.snake-reveal-content {
  background: url(./assets/screen.png);
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .reveal-top {
    display: none;
  }

  .snake-reveal-content {
    display: none;
  }
}